.container {
  width: 50%;
  background-color: rgb(245, 252, 254);
  border-radius: 7.5px;
}

.contactsTable {
  width: 100%;
  border-collapse: collapse;
}

thead, tbody { display: block; }

thead {
    background-color: rgb(24, 24, 60);
    color: azure;
    border-top-right-radius: 7.5px;
    border-top-left-radius: 7.5px;
}

tbody {
    height: 275px;       
    overflow-y: auto;
}

th,td {
    padding: 10px;
    min-width: 50px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
}
